---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import RecentFlyers from "@/components/home/RecentFlyers.astro";
import Summary from "@/components/home/Summary.astro";
import Highlights from "@/components/home/Highlights.astro";
import { loadQuery } from "@/sanity/lib/load-query";
import { type IMeetup } from "@/lib/interfaces";

const { data: meetups } = await loadQuery<IMeetup[]>({
  query:
    "*[_type == 'meetup'] | order(meetupDate desc){_id, title, image, slug} [0..3]",
});

const title = "Sk8 N Meet Santana";
const description =
  "The first non-traditional skateboarding group in Santa Ana who hosts monthly meet ups and aim to provide a thriving safe space for skaters who identify as female, queer, trans and/or nonbinary.";
const basicUrl = "https://sk8nmeetsantana.com/";
const canonical = "https://sk8nmeetsantana.com/";
---

<Layout
  title={title}
  description={description}
  basicUrl={basicUrl}
  canonical={canonical}
>
  <main class='layout'>
    <Hero />
    <RecentFlyers meetups={meetups} />
    <Summary />
    <Highlights />
  </main>
</Layout>
