---
import "@/styles/globals.css";
import Layout from "../layouts/Layout.astro";
import ImageSrc from "@/components/ui/ImageSrc.astro";
import TypographyH1 from "@/components/ui/TypographyH1.astro";
import { Icon } from "astro-icon/components";
import { loadQuery } from "@/sanity/lib/load-query";
import { type IMeetup } from "@/lib/interfaces";

export const prerender = false;

interface PaginationProps {
  meetups: IMeetup[];
  pagination: {
    totalPageCount: number;
    pageNumber: number;
  };
}

const ITEMS_PER_PAGE = 8;
const COLLECTION_QUERY = `*[_type == "meetup"] | order(meetupDate desc){_id, title, image, slug}`;
const pageNumber = parseInt(Astro.url.searchParams.get("page") || "1");
const currentPath = Astro.url.pathname;

const { data: meetupData } = await loadQuery<PaginationProps>({
  query: `{
  "meetups": ${COLLECTION_QUERY} [($pageIndex * ${ITEMS_PER_PAGE})...($pageIndex + 1) * ${ITEMS_PER_PAGE}],
  "pagination" : {
        "totalPageCount" : count(${COLLECTION_QUERY}._id) / ${ITEMS_PER_PAGE},
        "pageNumber": $pageIndex + 1,
      }
  }`,
  params: {
    pageIndex: pageNumber - 1,
  },
});

const MAX_PAGE_LIMIT = Math.ceil(meetupData.pagination.totalPageCount || 1);

if (Number(pageNumber) < 1 || Number(pageNumber) > MAX_PAGE_LIMIT) {
  return Astro.redirect("/404.astro");
}
---

<Layout title='Sk8 N Meet Santana | Past Meet Ups'>
  <section class='layout'>
    <TypographyH1 title='Past Meet Ups' />
    <div
      class='mx-auto mb-16 grid grid-cols-1 items-center justify-items-center gap-8 md:grid-cols-2 lg:grid-cols-4'
    >
      {
        meetupData.meetups.map(({ title, image }) => (
          <div>
            <div class='h-80 w-full md:max-h-[18rem] md:max-w-[18rem] lg:h-[18rem] lg:w-[18rem]'>
              <ImageSrc
                smallImg={`https://res.cloudinary.com/${import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME}/image/upload/c_scale,w_720/v${image.version}/${image.public_id}.webp`}
                largeImg={`https://res.cloudinary.com/${import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME}/image/upload/v${image.version}/${image.public_id}.webp`}
                alt={title}
                height={image.height}
                width={image.width}
                loading='lazy'
                className='rounded-xl w-full h-full'
                sizes='(max-width: 200px) 100vw, 45vw'
              />
            </div>
            <p class='pt-4 text-center font-["Erica_One"] text-2xl text-white'>
              {title}
            </p>
          </div>
        ))
      }
    </div>

    <div
      class='my-10 flex w-full items-center justify-between space-x-9 font-["Erica_One"] text-xl lg:my-20'
    >
      <a
        href={`${pageNumber <= 1 ? "" : `${currentPath}?page=${pageNumber - 1}`}`}
        aria-label='Go to previous page'
        class={`flex items-center justify-center ${pageNumber <= 1 ? "pointer-events-none text-white/50 cursor-not-allowed" : "hover:text-primary"}`}
        rel={pageNumber > 1 ? "prev" : null}
      >
        <Icon name='arrow-prev' class='mr-1 h-6 w-6' />
        Previous
      </a>
      <span class='hidden w-full items-center justify-center md:flex'>
        Page {pageNumber} of {MAX_PAGE_LIMIT}
      </span>
      <a
        href={`${pageNumber >= MAX_PAGE_LIMIT ? "" : `${currentPath}?page=${pageNumber + 1}`}`}
        aria-label='Go to next page'
        class={`flex items-center justify-center ${pageNumber >= MAX_PAGE_LIMIT ? "pointer-events-none text-white/50 cursor-not-allowed" : "hover:text-primary"}`}
        rel={pageNumber < MAX_PAGE_LIMIT ? "next" : null}
      >
        Next
        <Icon name='arrow-forward' class='ml-1 h-6 w-6' />
      </a>
    </div>
  </section>
</Layout>
